@keyframes glow{
  0%{
    text-shadow: 0px 0px 0.5rem rgba(255, 255, 255, 1);
  }
  25%{
    text-shadow: 0px 0px 1.5rem rgba(255, 255, 255, 1);
  }
  50%{
    text-shadow: 0px 0px 0.5rem rgba(255, 255, 255, 1);
  }
  75%{
    text-shadow: 0px 0px 1.5rem rgba(255, 255, 255, 1);
  }
  100%{
    text-shadow: 0px 0px 0.5rem rgba(255, 255, 255, 1);
  }
}
@keyframes fadeIn{
  from{
    opacity: 0;
    pointer-events: none;
  }
  to{
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes fadeOut{
  from{
    opacity: 1;
    pointer-events: auto;
  }
  to{
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes fadeSlideDown{
  0%{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50vh);
  }
  50%{
    opacity: 0.5;
    pointer-events: none;
    transform: translateY(0);
  }
  100%{
    pointer-events: auto;
    opacity: 1;
  }
}

@keyframes fall{
  0%{
    opacity: 0;
    transform: translateY(0) rotate(0deg) scale(0);
  }
  50%{
    opacity: 1;
    transform: translateY(40vh) rotate(360deg) scale(0.5);
  }
  100%{
    opacity: 0;
    transform: translateY(90vh) rotate(720deg) scale(0);
  }
}
