/* structure */
#loginPanel, #signupPanel, #forgotPassPanel{
  width: min(300px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
}
#infoContainer, #signupContainer, #forgotPasswordContainer{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
#infoContainer input, #signupContainer input, #forgotPasswordContainer input{
  min-width: 100%;
  max-width: 100%;
  height: 2rem;
  border-radius: 100vw;
  border: none;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}
#infoContainer label, #signupContainer label, #forgotPasswordContainer label{
  color: var(--sw);
  margin-left: 0.5rem;
}
#infoContainer input::placeholder, #signupContainer input::placeholder, #forgotPasswordContainer input::placeholder{
  color: var(--grey);
}

/* password design config */
#passContainer1, #passContainer2, #passContainer3{
  position: relative;
  min-width: 100%;
}
.togglePass{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
  color: var(--grey);
}
#hidePass1, #hidePass2, #hidePass3{
  opacity: 0;
  pointer-events: none;
}
#forgotPassContainer{
  width: 100%;
  display: grid;
  place-items: center;
}
#forgotPass{
  font-size: 0.5rem;
  color: var(--dim);
  margin-top: 0.25rem;
  text-align: center;
  display: inline;
}

/* sign in btn and register btn */
#submitContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#signinBtn, #submitBtn, #cancelBtn1, #cancelBtn2, #confirmBtn{
  border: none;
  border-radius: 100vw;
  width: 40%;
  height: 2.5rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 0.5rem;
}
#cancelBtn1, #cancelBtn2{
  background: white;
  color: black;
}
#registerText{
  font-size: 0.5rem;
  text-align: center;
  color: var(--dim);
}
.btnContainer{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

/* interactions */
#signinBtn:active, #submitBtn:active, #confirmBtn:active{
  background: rgba(255, 255, 255, 0.25);
}
#cancelBtn1:active, #cancelBtn2:active{
  background: rgba(255, 255, 255, 0.25);
}
.hoverable:hover ~ .togglePass{
  margin-right: 0;
}